@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">@ViewData["Site"]</h1>
    <p>This is a demo site for @ViewData["Site"].</p>
    <p>Site host - @ViewData["Host"].</p>
    <p>Site sku - @ViewData["Sku"].</p>
    <div style="width:100%; text-align:right;">
        <button id="read-write-storage" asp-page-handler="Storage" style="margin: 10px auto; margin-right: 30px;">Test Content Storage</button>
        <button id="read-write-cosmos" asp-page-handler="Cosmos" style="margin: 10px auto;">Test Cosmos DB</button>
    </div>
    <div id="output-container" style="position: relative; width: 100%; height: 600px; margin: 0 auto; border: 1px solid black">
        <div id="log-message" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align:left; display: none">
            <pre>@Model.LogMessage</pre>
        </div>
        <div id="loading-message" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align:left; display: none">
            <p>Please wait, we are processing your request...</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Add event listeners to the buttons
    $("#read-write-storage").click(function () {
        // Hide the log message and show the loading message
        $("#log-message").hide();
        $("#loading-message").show();

        // Call the OnGetStorageAsync method
        $.get("/Index?handler=Storage", function (data) {
            // Update the log message and show it
            $("#log-message").text(data);
            $("#log-message").show();
            $("#loading-message").hide();
        });
    });

    $("#read-write-cosmos").click(function () {
        // Hide the log message and show the loading message
        $("#log-message").hide();
        $("#loading-message").show();

        // Call the OnGetCosmosAsync method
        $.get("/Index?handler=Cosmos", function (data) {
            // Update the log message and show it
            $("#log-message").text(data);
            $("#log-message").show();
            $("#loading-message").hide();
        });
    });
</script>